{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Financial Chat</title>
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'chatrooms/css/style.css' %}" />
        {% bootstrap_javascript jquery='full' %}
        <script type="text/javascript" src="{% static 'chatrooms/scripts/error.js' %}"></script>
        <script type="text/javascript" src="{% static 'chatrooms/scripts/main.js' %}"></script>
    </head>
    <body>
        <div id="content" class="container-fluid full-size">
            {% include 'chatrooms/partials/menu_bar.html' %}
            <div id="display">
                <div id="welcome-content" class="center-x pane" style="top: 240px; width: 500px">
                    <a id="login-link" href="#" role="button" class="btn">Login</a>
                    <a id="register-link" href="#" role="button" class="btn">Register</a>
                    {% bootstrap_messages %}
                    <div id="login-form">
                        <form method="post" novalidate>
                            <div class="alert alert-danger" style="display: none" role="alert"></div>
                            {% csrf_token %}
                            {% bootstrap_form login %}
                            {% buttons %}
                            <div style="text-align: center">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                            {% endbuttons %}
                        </form>
                    </div>
                    <div id="register-form" style="display:none">
                        <form method="post" novalidate>
                            <div class="alert alert-danger hidden" style="display: none" role="alert"></div>
                            {% csrf_token %}
                            {% bootstrap_form register %}
                            {% buttons %}
                            <div style="text-align: center">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                            {% endbuttons %}
                        </form>
                    </div>
                    <script type="text/javascript">
                        (function($) {
                            $(function() {
                                $('#login-link').click(function() {
                                    $('#register-form').hide();
                                    $('#login-form').show();
                                });
                                $('#register-link').click(function() {
                                    $('#login-form').hide();
                                    $('#register-form').show();
                                });

                                $("#login-form form").submit(function(e) {
                                    e.preventDefault();
                                    let obj = $(this).serializeObject();

                                    Chat.login(obj.username, obj.password).done(function(data) {
                                        let token = Chat.getToken();
                                        if (token) {
                                            Chat.logout().always(function() {
                                                updateUI(data.token);
                                            });
                                        } else {
                                            updateUI(data.token);
                                        }
                                    }).fail(function(xhr) {
                                        console.log("Login failure:", data.status);
                                    });
                                    return false;
                                });
                                $("#register-form form").submit(function(e) {
                                    e.preventDefault();
                                    let obj = $(this).serializeObject();

                                    if (obj.password !== obj.password_confirm) {
                                        $("#register-form .alert").text("Password do not match");
                                        return false;
                                    }

                                    Chat.register(obj.username, obj.email, obj.password).done(function(data) {
                                        Chat.login(obj.username, obj.password).done(function(data) {
                                            console.log("Login result after register:", data);
                                            let token = Chat.getToken();
                                            if (token) {
                                                Chat.logout().always(function() {
                                                    updateUI(null);
                                                    updateUI(data.token);
                                                });
                                            } else {
                                                updateUI(data.token);
                                            }
                                        });
                                    }).fail(function(xhr) {
                                        console.log("Register failure:", data.status);
                                    });
                                    return false;
                                });
                            });
                        })(jQuery);
                    </script>
                </div>
                <div id="chat-content">

                </div>
                <script type="text/javascript">
                    (function($) {
                        window.updateUI = function(token) {
                            if (token) {
                                // Set new token, request profile, and get user.
                                Chat.setToken(token);
                                Chat.me().done(function(data) {
                                    updateNavBar(data.username);
                                });
                            } else {
                                Chat.clearToken();
                                updateNavBar(null);
                            }
                        };

                        $(function() {
                            onLogoutClick(function() {
                                Chat.logout().always(function() {
                                    updateUI(null);
                                });
                            });
                        })
                    })(jQuery);
                </script>
            </div>
        </div>
    </body>
</html>