{% load static %}
{% load bootstrap4 %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Financial Chat</title>
        {% bootstrap_css %}
        <link rel="stylesheet" type="text/css" href="{% static 'chatrooms/css/style.css' %}" />
        {% bootstrap_javascript jquery='full' %}
        <script type="text/javascript" src="{% static 'chatrooms/scripts/cookies.js' %}"></script>
        <script type="text/javascript" src="{% static 'chatrooms/scripts/error.js' %}"></script>
        <script type="text/javascript" src="{% static 'chatrooms/scripts/main.js' %}"></script>
        <script type="text/javascript" src="{% static 'chatrooms/scripts/ui.js' %}"></script>
    </head>
    <body>
        <div id="content" class="container-fluid full-size">
            {% include 'chatrooms/partials/menu_bar.html' %}
            <div id="display">
                <div id="welcome-content" class="center-x pane" style="top: 240px; width: 500px">
                    <a id="login-link" href="#" role="button" class="btn">Login</a>
                    <a id="register-link" href="#" role="button" class="btn">Register</a>
                    {% bootstrap_messages %}
                    <div id="login-form">
                        <form method="post" novalidate>
                            <div class="alert alert-danger" style="display: none; white-space: pre-line" role="alert"></div>
                            {% csrf_token %}
                            {% bootstrap_form login %}
                            {% buttons %}
                            <div style="text-align: center">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                            {% endbuttons %}
                        </form>
                    </div>
                    <div id="register-form" style="display:none">
                        <form method="post" novalidate>
                            <div class="alert alert-danger hidden" style="display: none; white-space: pre-line" role="alert"></div>
                            {% csrf_token %}
                            {% bootstrap_form register %}
                            {% buttons %}
                            <div style="text-align: center">
                                <button type="submit" class="btn btn-primary">
                                    Submit
                                </button>
                            </div>
                            {% endbuttons %}
                        </form>
                    </div>
                    <script type="text/javascript">
                        (function($) {
                            $(function() {
                                $('#login-link').click(function() {
                                    $('#register-form').hide();
                                    $('#login-form').show();
                                });
                                $('#register-link').click(function() {
                                    $('#login-form').hide();
                                    $('#register-form').show();
                                });

                                $("#login-form form").submit(function(e) {
                                    $("#login-form .alert").hide();
                                    e.preventDefault();
                                    let obj = $(this).serializeObject();

                                    Chat.login(obj.username, obj.password).done(function(data) {
                                        let token = Chat.getToken();
                                        if (token !== data.token && token) {
                                            Chat.logout().always(function() {
                                                updateUI(null);
                                                updateUI(data.token);
                                            });
                                        } else {
                                            updateUI(data.token);
                                        }
                                    }).fail(function(xhr) {
                                        if (xhr.status === 400) {
                                            let errors = JSON.parse(xhr.responseText);
                                            let fullMessages = [];
                                            console.log(errors);
                                            Object.keys(errors).forEach(function(key) {
                                                errors[key].forEach(function(message) {
                                                    let prefix = key === 'non_field_errors' ? '' : (key + ': ');
                                                    fullMessages.push(prefix + message);
                                                });
                                            });
                                            $("#login-form .alert").text(fullMessages.join('\n'));
                                        } else {
                                            Chat.clearToken();
                                            console.log("Register failure:", xhr.status, xhr.responseText);
                                            $("#login-form .alert").text('An unexpected error has occurred');
                                        }
                                        $("#login-form .alert").show();
                                    });
                                    return false;
                                });
                                $("#register-form form").submit(function(e) {
                                    $("#register-form .alert").hide();
                                    e.preventDefault();
                                    let obj = $(this).serializeObject();

                                    if (obj.password !== obj.password_confirm) {
                                        $("#register-form .alert").text("Password do not match").show();
                                        return false;
                                    }

                                    Chat.register(obj.username, obj.email, obj.password).done(function(data) {
                                        Chat.login(obj.username, obj.password).done(function(data) {
                                            console.log("Login result after register:", data);
                                            let token = Chat.getToken();
                                            if (token !== data.token && token) {
                                                Chat.logout().always(function() {
                                                    updateUI(null);
                                                    updateUI(data.token);
                                                });
                                            } else {
                                                updateUI(data.token);
                                            }
                                        });
                                    }).fail(function(xhr) {
                                        if (xhr.status === 400) {
                                            let errors = JSON.parse(xhr.responseText);
                                            let fullMessages = [];
                                            console.log(errors);
                                            Object.keys(errors).forEach(function(key) {
                                                errors[key].forEach(function(message) {
                                                    let prefix = key === 'non_field_errors' ? '' : (key + ': ');
                                                    fullMessages.push(prefix + message);
                                                });
                                            });
                                            $("#register-form .alert").text(fullMessages.join('\n'));
                                        } else {
                                            Chat.clearToken();
                                            console.log("Register failure:", xhr.status, xhr.responseText);
                                            $("#register-form .alert").text('An unexpected error has occurred');
                                        }
                                        $("#register-form .alert").show();
                                    });
                                    return false;
                                });

                                /**
                                 * Resets all the forms.
                                 */
                                window.clearWelcome = function() {
                                    $('#welcome-content form').each(function() {
                                        this.reset();
                                    });
                                };
                            });
                        })(jQuery);
                    </script>
                </div>
                <div id="chat-content"></div>
                <div id="error-content" style="display: none">
                    <div class="alert alert=danger center-y center-x">
                        An error has occurred while on chat: <span></span>. <a id="do-reconnect" role="button">Try again</a>
                    </div>
                </div>
                <script type="text/javascript">
                    (function($) {
                        // From this point, interface-manipulating functions start.
                        // These are the front-end lifecycle of the application.

                        /**
                         * Updated the whole UI, given the existing token.
                         * First, the profile endpoint is reached to get
                         * the username, and in the meantime the chat is
                         * opened, cleared and connected.
                         * @param token The token to keep.
                         */
                        window.updateUI = function(token) {
                            if (token) {
                                console.log("Updating ui with token: " + token);
                                // Set new token, request profile, and get user.
                                Chat.setToken(token);
                                Chat.me().done(function(data) {
                                    updateNavBar(data.username);
                                });
                                chatOpen();
                            } else {
                                console.log("Updating ui with no token");
                                Chat.clearToken();
                                welcome();
                                updateNavBar(null);
                            }
                        };

                        /**
                         * Opens the welcome interface.
                         */
                        window.welcome = function() {
                            ChatUI.stop();
                            $('#chat-content, #error-content').hide();
                            clearWelcome();
                            $('#welcome-content').show();
                        };

                        /**
                         * Opens the chat interface, and connects.
                         */
                        window.chatOpen = function() {
                            $('#error-content, #welcome-content').hide();
                            let content = $("#chat-content");
                            ChatUI.start(content, window.chatError);
                            content.show();
                            if (!Chat.connected()) Chat.connect();
                        };

                        /**
                         * Displays an error message, coming from the chat.
                         * @param errorText The error text to display.
                         */
                        window.chatError = function(errorText) {
                            ChatUI.stop();
                            $('#chat-content, #welcome-content').hide();
                            $('#error-content span').text(errorText);
                            $('#error-content').show();
                        };

                        $(function() {
                            // On clicking the logout link, a logout must be performed.
                            onLogoutClick(function() {
                                Chat.logout().always(function() {
                                    updateUI(null);
                                });
                            });

                            // Refreshing the ui for the first time.
                            updateUI(Chat.getToken());
                        })
                    })(jQuery);
                </script>
            </div>
        </div>
    </body>
</html>