{% load static %}
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <img class="navbar-brand" src="{% static 'chatrooms/images/logo.png' %}" />
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
            <li id="logged-user-label" style="display: none" class="nav-item">
                You're logged in as <span></span>. <a id="do-logout" role="button">Logout</a>
            </li>
            <li id="anonymous-user-label" class="nav-item">
                Sign in or register to chat
            </li>
        </ul>
    </div>
</nav>
<script type="text/javascript">
    (function($) {
        window.updateNavBar = function(username) {
            $('#anonymous-user-label').hide();
            $('#logged-user-label span').text(username);
            $('#logged-user-label').show();
        };

        window.onLogoutClick = function(callback) {
            $('#do-logout').click(callback);
        };
    })(jQuery);
</script>